.mainca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Times New Roman, sans-serif;
  border-radius: 20px;
  padding-top: 50px;
  height: 100%;
  background-color: #f5f5f5;
}
.mainca_statu {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 40px;
}
.statu-calendar {
  background-color: #f5f5f5;
}
.main__title {
  font-size: 30px;
}

.main-side {
  display: flex;
}

.main-side:nth-child(2) {
  margin-bottom: 20px;
}

.color-box {
  border: 5px solid white;
  height: 205px;
  width: 170px;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.color-box:hover {
  transform: scale(1.05);
}

.color-box:last-child {
  margin-left: 18px;
}

.color-box__inside {
  background-color: white;
  width: 160px;
  height: 80px;
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-size {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}
.title-size__two {
  font-size: 15px;
  font-weight: 800;
}

.box-one {
  background-color: tomato;
}
.box-two {
  background-color: teal;
}

.box-three {
  background-color: burlywood;
}

.box-four {
  background-color: thistle;
}
.box-five {
  background-color: paleturquoise;
}
.box-six {
  background-color: rgba(128, 0, 128, 0.712);
}

.main-side:last-child {
  margin-top: 20px;
}
