* {
  box-sizing: border-box;
}

.mainbox-inbox:not(:last-child) {
  margin-left: 25px;
  margin-right: 25px;
}
.statubar {
  font-size: 24px;
  margin-top: 45px;
  margin-left: ;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.statubar span:nth-child(2) {
  font-size: 27px;
  font-weight: 700;
}
.circleimg {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.circleimg img {
  width: 115px;
  height: 115px;
  border-radius: 57px;
  box-shadow: 0px 5px 15px #ed99a9;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-title span:first-child {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}
.main-title span:last-child {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}

.clickbox {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 30px;
}

.mainbox-inbox__clickbox {
  font-size: 14.3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 38px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.mainbox-inbox__clickbox:first-child {
  background-color: black;
}

.mainbox-inbox__clickbox p {
  color: white;
  font-weight: 500;
}

.playlist {
  margin-top: 35px;
}
.mainbox-inbox__playlist img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.mainbox-inbox__playlist {
  width: 325px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
  border-radius: 10px;
  position: relative;
}
.playlist__img {
  filter: brightness(75%);
}

.mu {
  color: white;
  transform: rotate(0.25turn);
  position: absolute;
  font-size: 18px;
  left: 34px;
  top: 30px;
}

.mainbox-inbox__playlist-title {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.mainbox-inbox__playlist-title span:first-child {
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}

.mainbox-inbox__playlist-title span:last-child {
  font-weight: 700;
  font-size: 18px;
}

.mainbox-inbox__playlist-dot {
  margin-left: 88px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 5px;
}
.mainbox-inbox__playlist:nth-child(1) {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.mainbox-inbox__playlist:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.play {
  position: absolute;
  left: 12px;
  margin-left: 10px;
}

.play-inbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
}

.play-inbox__title {
  display: flex;
  flex-direction: column;
}
.play-inbox__title span:first-child {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(214, 211, 211, 0.863);
  margin-bottom: 3px;
}
.play-inbox__title span:last-child {
  margin-left: 10px;
  font-size: 17px;
  color: white;
  font-weight: 600;
}

.play-inbox {
  background-color: black;
  width: 350px;
  height: 65px;
  border-radius: 40px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.play-inbox__icon {
  width: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
}
