.backgroundbox {
  background-color: black;
  width: 1000px;
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainbox-hi__wave h1 {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.1);
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 90 240 300' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='800' style='stroke: none; fill: rgb(255,255,255);' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none;'%3E%3C/path%3E%3C/svg%3E");
  animation: wave 7s ease-in-out;
}

@keyframes wave {
  0% {
    background-position: left 0px bottom -59px;
  }
  30% {
    background-position: left 1900px bottom -30px;
  }
  100% {
    background-position: left 2900px bottom 0px;
  }
}
