#no-mobile {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 420px;
  height: 830px;
  background-color: var(--yellow);

  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
} ;
