.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:first-child {
  display: flex;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

.status-bar {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  width: 94%;

  justify-content: space-between;
  padding: 5px 3px;
  position: absolute;
  background-color: white;
}
